# Managed by infra repo — {{ instance_name }}
Syslog                  yes
Mode                    sv
KeyTable                file:/etc/postfix/dkim/keytable
SigningTable            file:/etc/postfix/dkim/signingtable
BaseDirectory           /var/lib/opendkim
Domain                  {{ instance.hostname }}
Selector                {{ common.dkim_selector }}
Socket                  local:/run/opendkim/opendkim.sock
TemporaryDirectory      /run/opendkim
UMask                   002
