entryPoints:
  http:
    reusePort: true
    address: ":80"
    forwardedHeaders:
      trustedIPs:
        - "127.0.0.1/32"
{% for ip in common.cloudflare_ips %}
        - "{{ ip }}"
{% endfor %}
  https:
    http3: {}
    reusePort: true
    address: ":443"
    forwardedHeaders:
      trustedIPs:
        - "127.0.0.1/32"
{% for ip in common.cloudflare_ips %}
        - "{{ ip }}"
{% endfor %}

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true
  docker:
    exposedByDefault: false
    endpoint: "unix:///var/run/docker.sock"

api:
  dashboard: true
  insecure: true

log:
  level: WARN
  filePath: /etc/traefik/logs/main.log
