[Unit]
Description=Traefik container

[Container]
Image=docker.io/traefik:v3
ContainerName=traefik
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
PublishPort=127.0.0.1:8180:8080
Volume=/run/podman/podman.sock:/var/run/docker.sock:z
Volume=/opt/podman/traefik/settings:/etc/traefik
Volume=/opt/podman/traefik/logs:/etc/traefik/logs
Volume=/etc/ssl/certs:/etc/ssl/certs:ro
Volume=/etc/ssl/private:/etc/ssl/private:ro
Environment=TZ="Europe/Moscow"

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
