[Unit]
Description=Synapse container

[Container]
Image=docker.io/matrixdotorg/synapse:v1.146.0
Pod=synapse.pod
ContainerName=synapse_app_1
Environment=SYNAPSE_CONFIG_PATH=/data/homeserver.yaml
Volume=/opt/podman/synapse/data:/data
Label=traefik.enable=true
Label=traefik.http.routers.http-synapse.entryPoints=http
Label=traefik.http.routers.http-synapse.rule=Host(`{{ synapse.server_name }}`)
Label=traefik.http.routers.http-synapse.middlewares=https_redirect@file
Label=traefik.http.routers.https-synapse.entryPoints=https
Label=traefik.http.routers.https-synapse.rule=Host(`{{ synapse.server_name }}`)
Label=traefik.http.routers.https-synapse.middlewares=secure-header@file
Label=traefik.http.routers.https-synapse.service=synapse
Label=traefik.http.routers.https-synapse.tls=true
Label=traefik.http.routers.https-synapse.tls.domains[0].main={{ synapse.server_name }}
Label=traefik.http.routers.https-synapse.tls.domains[0].sans={{ synapse.ech_domain }}
Label=traefik.http.services.synapse.loadbalancer.server.port=8008
Label=traefik.http.routers.https-synapse.tls.certResolver=google
Environment=TZ="Europe/Moscow"

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
