# Managed by infra repo

TURN_CREDENTIALS={{ jitsi.turn_credentials }}
TURN_HOST={{ jitsi.turn_host }}
TURN_PORT={{ jitsi.turn_port }}
TURN_TRANSPORT={{ jitsi.turn_transport }}
TURNS_HOST={{ jitsi.turns_host }}
TURNS_PORT={{ jitsi.turns_port }}

CONFIG=/opt/podman/jitsi/jitsi-meet-cfg

HTTP_PORT=80
HTTPS_PORT=443
TZ=Europe/Moscow

PUBLIC_URL=https://{{ jitsi.domain }}:443

ENABLE_AUTH=1
ENABLE_GUESTS=1
AUTH_TYPE=internal

JICOFO_AUTH_PASSWORD={{ jitsi.jicofo_auth_password }}
JVB_AUTH_PASSWORD={{ jitsi.jvb_auth_password }}
JIGASI_XMPP_PASSWORD={{ jitsi.jigasi_xmpp_password }}
JIGASI_TRANSCRIBER_PASSWORD={{ jitsi.jigasi_transcriber_password }}
JIBRI_RECORDER_PASSWORD={{ jitsi.jibri_recorder_password }}
JIBRI_XMPP_PASSWORD={{ jitsi.jibri_xmpp_password }}
