{# templates/client.json.j2 #}
{
  "log": {
    "level": "info",
    "timestamp": true
  },
  "dns": {
    "strategy": "ipv4_only",
    "servers": [
      {"type": "https", "tag": "cloudflare", "server": "1.1.1.1", "detour": "naive-balancer"},
      {"type": "https", "tag": "google", "server": "8.8.8.8", "detour": "naive-balancer"},
      {"type": "https", "tag": "yandex", "server": "77.88.8.8"}
    ],
    "rules": [
      {"rule_set": "category-ads-all", "action": "reject"},
      {"rule_set": "youtube", "domain_suffix": "gvt1.com", "server": "cloudflare"},
      {"domain_suffix": "proton.me", "server": "google"},
      {"rule_set": ["category-ru", "geosite-cn", "category-ir"], "server": "yandex"},
      {
        "rule_set": [
{% for s in srs.user %}
          "{{ s.name }}"{{ "," if not loop.last else "" }}
{% endfor %}
        ],
        "server": "yandex"
      }
    ]
  },
  "inbounds": [
    {"type": "tun", "tag": "tun-in",
      "address": "172.18.0.1/30",
      "auto_route": true, "strict_route": true,
      "route_exclude_address": [ "192.168.0.0/16", "10.0.0.0/8", "172.16.0.0/12", "fc00::/7" ]}
  ],
  "outbounds": [
    {
      "type": "urltest",
      "tag": "naive-balancer",
      "outbounds": [
{% set target = relay_instances if relay_instances else instances %}
{% for name, inst in target.items() %}
        "naive-{{ loop.index }}"{{ "," if not loop.last else "" }}
{% endfor %}
      ]
    },
{% for name, inst in target.items() %}
    {
      "type": "naive",
      "tag": "naive-{{ loop.index }}",
      "server": "{{ inst.address }}",
      "server_port": 443,
      "username": "{{ current_user.name }}",
      "password": "{{ current_user.password }}",
      "udp_over_tcp": true,
      "quic_congestion_control": "bbr2",
      "tls": {
        "enabled": true,
        "server_name": "{{ inst.reality.server_name if inst.reality else reality.server_name }}"
      }
    },
{% endfor %}
    {
      "type": "direct",
      "tag": "direct"
    }
  ],
  "route": {
    "rules": [
      {"action": "sniff"},
      {"protocol": "dns", "action": "hijack-dns"},
{% for rule in current_user.custom_rules | default([]) %}
      {{ rule | to_json }},
{% endfor %}
      {"port": 123, "outbound": "direct"},
      {"ip_is_private": true, "outbound": "direct"},
      {"process_name": ["qbittorrent", "i2pd"], "user": "i2pd", "outbound": "direct"},
      {"protocol": "bittorrent", "action": "reject"},
      {"rule_set": "category-ads-all", "action": "reject"},
      {"rule_set": "youtube", "domain_suffix": "gvt1.com", "outbound": "naive-balancer"},
      {"rule_set": ["category-ru", "geosite-cn", "category-ir", "geoip-ru", "geoip-cn", "geoip-ir"], "outbound": "direct"},
      {
        "rule_set": [
{% for s in srs.user %}
          "{{ s.name }}"{{ "," if not loop.last else "" }}
{% endfor %}
        ],
        "outbound": "direct"
      }
    ],
    "rule_set": [
{% for s in srs.user %}
      {
        "type": "remote",
        "tag": "{{ s.name }}",
        "format": "binary",
        "url": "{{ s.link }}",
        "download_detour": "naive-balancer",
        "update_interval": "1h0m0s"
      },
{% endfor %}
{% set static_rules = [
    ('category-ru', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-category-ru.srs'),
    ('geosite-cn', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-cn.srs'),
    ('category-ir', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-category-ir.srs'),
    ('geoip-ru', 'https://raw.githubusercontent.com/SagerNet/sing-geoip/rule-set/geoip-ru.srs'),
    ('geoip-cn', 'https://raw.githubusercontent.com/SagerNet/sing-geoip/rule-set/geoip-cn.srs'),
    ('geoip-ir', 'https://raw.githubusercontent.com/SagerNet/sing-geoip/rule-set/geoip-ir.srs'),
    ('category-ads-all', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-category-ads-all.srs'),
    ('youtube', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-youtube.srs')
] %}
{% for tag, url in static_rules %}
      {
        "type": "remote",
        "tag": "{{ tag }}",
        "url": "{{ url }}",
        "download_detour": "naive-balancer"
      }{{ "," if not loop.last else "" }}
{% endfor %}
    ],
    "auto_detect_interface": true,
    "default_domain_resolver": "cloudflare"
  },
  "experimental": {
    "cache_file": { "enabled": true, "path": "sing-box_cache.db" }
  }
}
