{# templates/relay_main.json.j2 #}
{
  "log": {
    "level": "warn",
    "timestamp": true
  },
  "dns": {
    "strategy": "ipv4_only"
  },
  "outbounds": [
    {
      "type": "urltest",
      "tag": "proxy-balancer",
      "outbounds": [
{% for name, inst in instances.items() %}
        "naive-{{ loop.index }}"{{ "," if not loop.last else "" }}
{% endfor %}
      ]
    },
{% for name, inst in instances.items() %}
    {
      "type": "naive",
      "tag": "naive-{{ loop.index }}",
      "server": "{{ inst.address }}",
      "server_port": 443,
      "username": "{{ current_instance.name }}",
      "password": "{{ current_instance.password }}",
      "udp_over_tcp": true,
      "quic_congestion_control": "bbr2",
      "tls": {
        "enabled": true,
        "server_name": "{{ inst.reality.server_name }}"
      }
    },
{% endfor %}
    {
      "type": "direct",
      "tag": "direct"
    }
  ],
  "route": {
    "rules": [
      {"action": "sniff"},
      {"protocol": "bittorrent", "action": "reject"},
      {"ip_is_private": true, "outbound": "direct"},
      {"rule_set": "category-ads-all", "action": "reject"},
      {
        "rule_set": [
          "server",
          "youtube",
          "openai",
          "reddit",
          "category-ru",
          "category-ir",
          "category-porn",
          "geosite-cn",
          "geoip-cn",
          "geoip-ru",
          "geoip-ir",
{% for s in srs.user %}
          "{{ s.name }}"{{ "," if not loop.last else "" }}
{% endfor %}
        ],
        "outbound": "proxy-balancer"
      }
    ]
  },
  "experimental": {
    "cache_file": {
      "enabled": true,
      "path": "/etc/sing-box/cache/cache.db",
      "cache_id": "1"
    }
  }
}
