{# templates/router_main.json.j2 #}
{
  "log": {
    "disabled": false,
    "level": "info",
    "output": "{{ router.log_path }}",
    "timestamp": true
  },
  "dns": {
    "strategy": "prefer_ipv6",
    "servers": [
      {
        "tag": "cloudflare",
        "type": "https",
        "server": "1.1.1.1"
      },
      {
        "tag": "google",
        "type": "https",
        "server": "8.8.8.8"
      },
      {
        "tag": "local",
        "type": "local"
      }
    ],
    "rules": [
      {
        "domain_suffix": [".local", ".lan"],
        "server": "local"
      },
      {
        "domain_suffix": "proton.me",
        "server": "google",
	"strategy": "ipv4_only"
      },
      {
        "rule_set": ["router", "youtube", "telegram"],
        "server": "cloudflare",
        "strategy": "ipv4_only"
      },
      {
        "rule_set": "category-gov-ru",
        "server": "google"
      }
    ]
  },
  "inbounds": [
    {
      "type": "tproxy",
      "tag": "tproxy-ipv4",
      "listen": "127.0.0.1",
      "listen_port": {{ router.tproxy.ipv4_port }}
    },
    {
      "type": "tproxy",
      "tag": "tproxy-ipv6",
      "listen": "::1",
      "listen_port": {{ router.tproxy.ipv6_port }}
    }
  ],
  "outbounds": [
    {
      "type": "direct",
      "tag": "direct",
      "routing_mark": {{ router.routing_mark }}
    },
{% set balancers = [
    ('anytls-balancer', 'anytls'),
    ('vless-balancer-grpc', 'vless-grpc'),
    ('vless-balancer-ws', 'vless-ws'),
    ('vless-balancer-http-upgrade', 'vless-http-upgrade')
] %}
{% for balancer_tag, outbound_prefix in balancers %}
    {
      "type": "urltest",
      "tag": "{{ balancer_tag }}",
      "outbounds": [
{% for name, _ in instances.items() %}
        "{{ outbound_prefix }}-{{ loop.index }}"{{ "," if not loop.last else "" }}
{% endfor %}
      ]
    }{{ "," if not loop.last else "" }}
{% endfor %}
  ],
  "route": {
    "default_domain_resolver": "cloudflare",
    "rule_set": [
      {
        "type": "remote",
        "tag": "router",
        "format": "binary",
        "update_interval": "10m",
        "url": "{{ srs.router.link }}"
      },
{% set static_rules = [
    ('category-gov-ru', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-category-gov-ru.srs'),
    ('telegram', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/refs/heads/rule-set/geosite-telegram.srs'),
    ('youtube', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-youtube.srs')
] %}
{% for tag, url in static_rules %}
      {
        "type": "remote",
        "tag": "{{ tag }}",
        "format": "binary",
        "update_interval": "1h",
        "url": "{{ url }}"
      }{{ "," if not loop.last else "" }}
{% endfor %}
    ],
    "rules": [
      {"action": "sniff"},
      {"protocol": "dns", "action": "hijack-dns"},
      {"port": [123], "outbound": "direct"},
      {
        "rule_set": ["router", "youtube", "telegram"],
        "outbound": "anytls-balancer"
      }
    ]
  },
  "experimental": {
    "cache_file": {
      "enabled": true,
      "cache_id": "{{ router.cache_id }}",
      "path": "{{ router.cache_path }}"
    }
  }
}
