[Unit]
Description=sing-box container

[Container]
Image={{ current_instance.image }}
ContainerName=sing-box
Pod=sing-box.pod
Exec=-D /var/lib/sing-box -C /etc/sing-box/ run
AutoUpdate=registry
Volume={{ current_instance.volume_path }}:/etc/sing-box:ro
Volume={{ current_instance.volume_path }}/cache:/etc/sing-box/cache
Volume=/etc/localtime:/etc/localtime:ro
Volume=/etc/ssl/certs/{{ common.domain }}.crt:/etc/ssl/certs/{{ common.domain }}.crt:ro
Volume=/etc/ssl/private/{{ common.domain }}.key:/etc/ssl/private/{{ common.domain }}.key:ro

Label=traefik.enable=true
Label=traefik.tcp.routers.sing-box_naive.entryPoints=https
Label=traefik.tcp.routers.sing-box_naive.rule=HostSNI(`{{ current_instance.reality.server_name }}`)
Label=traefik.tcp.routers.sing-box_naive.service=sing-box_naive
Label=traefik.tcp.routers.sing-box_naive.tls=true
Label=traefik.tcp.services.sing-box_naive.loadbalancer.server.port=8443
Label=traefik.tcp.routers.sing-box_naive.tls.passthrough=true

[Service]
Restart=always
[Install]
WantedBy=multi-user.target
