{
  "route": {
    "rule_set": [
{% for s in srs.user %}
      {
        "type": "remote",
        "tag": "{{ s.name }}",
        "format": "binary",
        "url": "{{ s.link }}",
        "update_interval": "10m0s"
      },
{% endfor %}
      {
        "type": "remote",
        "tag": "server",
        "format": "binary",
        "url": "{{ srs.server.link }}",
        "update_interval": "10m0s"
      },
{% set static_rulesets = [
    ('openai', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-openai.srs'),
    ('category-ru', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-category-ru.srs'),
    ('geosite-cn', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-cn.srs'),
    ('category-ir', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-category-ir.srs'),
    ('category-porn', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-category-porn.srs'),
    ('youtube', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-youtube.srs'),
    ('geoip-ru', 'https://raw.githubusercontent.com/SagerNet/sing-geoip/rule-set/geoip-ru.srs'),
    ('geoip-cn', 'https://raw.githubusercontent.com/SagerNet/sing-geoip/rule-set/geoip-cn.srs'),
    ('geoip-ir', 'https://raw.githubusercontent.com/SagerNet/sing-geoip/rule-set/geoip-ir.srs'),
    ('category-ads-all', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-category-ads-all.srs'),
    ('reddit', 'https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-reddit.srs')
] %}
{% for tag, url in static_rulesets %}
      {
        "type": "remote",
        "tag": "{{ tag }}",
        "url": "{{ url }}"
      }{{ "," if not loop.last else "" }}
{% endfor %}
    ]
  }
}
