<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>wireguard</short>
  <description>Managed by infra repo — {{ instance_name }}</description>
{% if instance.wireguard | default(false) %}
  <interface name="wg0"/>
  <port protocol="tcp" port="{{ instance.ssh_port | default(common.ssh_port) }}"/>
  <protocol value="icmp"/>
  <protocol value="ipv6-icmp"/>
{% endif %}
  <forward/>
</zone>
